.products {
    display: flex;
    align-items: center;
    justify-items: space-between;
    flex-wrap: wrap;
    height: 50vh;    
}

.products img {
    height: 200px;
    width: 200px;
    border-radius: 0.5rem;
    border: solid 0.03rem rgba(0, 0, 0, 0.164);
    margin: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.productNameInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.productPriceInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}
.productDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: black;
}
