.footer {
    display: flex;
    
    justify-content: space-between;
    align-items: center;

    color: black;
    background: rgba(0, 0, 0, 0.678);

    padding: 0px 100px;

    
}

span {
    font-size: 0.7rem;
    padding-right: 20px;
}

i {
    font-size: 15px;
}

i.fab.fa-facebook,
i.fab.fa-instagram {
    font-size: 20px;
    padding-right: 20px;
}
