.header {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    
    justify-content: space-around;
    color: gray;
    background: #101010
}


.icon {
    text-decoration: none;
    color: gray;
    margin-left: 80px;
    flex-grow: 1;
    text-align: center;
}

.cart {    
    text-decoration: none;
    color: #FFF;
    
    width: 60px;
    height: 100%;
    margin-right: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart:hover {
    text-decoration: none;
    color: gray

}

.cartQtd {
    font-size: 0.9rem;
    color: gold;
    margin-left: 2px;
}

.signup {
    text-decoration: none;
    color: gold;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.8rem;

}


.logo {
    width: 150px;
    height: 150px;
    
    display: flex;
    margin-left: 100px;    
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px;
}

.loginField {
    text-decoration: none;
    color: gold;
    font-size: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    align-self: flex-start;
    margin-bottom: 4px;    
}

.loginField:hover, .signup:hover {
    text-decoration: none;
    color: gray;
}

.loginName a {
    color: gold;
    font-size: 0.8rem;
}

.loginName a:hover {
    color: rgb(163, 162, 162);
    font-size: 0.8rem;
}

.logout a {
    position: absolute;
    display: none;
}

.loginName:hover .logout a {
    display: block;
}


.fas.fa-cart-arrow-down::before,
.fas.fa-sign-in-alt::before {
    font-size: 15px;
}

