.header {
    display: flex;
    
    justify-content: space-between;
    align-items: center;

    color: gray;
    background: #101010
}


.icon {
    text-decoration: none;
    color: gray;
    margin-left: 80px;
    flex-grow: 1;
    text-align: center;
}

.cart {
    
    text-decoration: none;
    color: #FFF;
    
    width: 60px;
    height: 100%;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart:hover {
    text-decoration: none;
    color: gray

}

.login {
    text-decoration: none;
    color: gold;
    
    width: 60px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 50px;
}

.login:hover {
    text-decoration: none;
    color: gray;
}

.logo {
    width: 150px;
    height: 150px;

    display: flex;
    margin-left: 100px;
}

.fas.fa-cart-arrow-down::before,
.fas.fa-sign-in-alt::before {
    font-size: 15px;
}
