.cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 500px;
}

.cartDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 15%;
}

