.cartContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
       
    width: 850px;
    height: 425px;
}

img {
    width: 90px;
    height: 90px;
}

.productCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 550px;

    border-radius: 0.5rem;
    border: solid 0.03rem rgba(0, 0, 0, 0.164);
    margin: 5px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.096); 

}

.subtotal {    
    margin-left: 65px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.productOptions {
    display: flex;
    justify-content: space-evenly
}

.productCart h1 {
    align-self: center;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;    
}

.productCart ul {
    margin-right: 5px;
    width: 500px;
}

.productCart ul li {
    display: flex;    
    align-items: center;    
}

.rowQtd {
    margin-right: 10px;
}


.fas.fa-trash {
    color: rgba(216, 5, 5, 0.74);
}

.fas.fa-backward {
    margin-right: 15px;
    color: rgba(255, 0, 0, 0.76);
}

