.cartContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
       
    width: 850px;
    height: 425px;
}

img {
    width: 90px;
    height: 90px;
}

.productCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productCart ul {
    margin-right: 35px;
}

.productCart ul li {
    display: flex;    
    align-items: center;
}

.subtotal {    
    margin-left: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

