.container {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    
    height: 100vh;
    width: 847px;    
    
}

.container2 {
    height: 60%;
    width: 250px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.productsImg {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    height: 500px;
    width: 500px;
    border-radius: 0.5rem;    
    
}

.productName {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 2rem;
    margin-bottom: 10px;
}
.productPrice {
    display: flex;
    justify-content: center;
    align-items: center;

    color: red;
    font-size: 1.7rem;
    margin-bottom: 20px;
}
.productStock {
    display: flex;
    justify-content: center;
    align-items: center;

    color: red;
    margin-bottom: 20px;
    font-size: small;
    font-weight: bold;
}
.productDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 0.8rem;
    color: black;
    font-weight: bold;
    

}

a {
    text-decoration: none;
    color: black;
}

select {
    margin-left: 15px;
    font-size: 0.9rem;
    border: solid black 1px;
    border-radius: 8px;
}

.selector {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}

button.btn {
    height: 50px;
    width: 220px;

    font-weight: lighter;
}

button i {
    margin-left: 10px    
}

